h2{
  color:rgb(245, 9, 245);
  font-style: italic;
  text-align: left;
}
h3{
  color: rgb(7, 192, 167);
  text-align: left;

}
p{
  color: rgb(255, 230, 0);
  font-style: italic;
}
body{
  background-image: url(../images/good.jpg);
  background-attachment: fixed;
  background-size: cover;
}
ol{
  color: rgb(236, 214, 9);
}
ul{
  color: rgb(7, 250, 230);
  font-style: italic;
}
img{
  width: 150px;
  border: 10px;
}
.intro {
  font-style: italic;

}